/********************************TAG SELECTOR********************************/
html {
  height: 100%;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  height: 100%;
}

h1 {
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-size: 60px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

/********************************CLASS SELECTOR********************************/
.top-container {
  background-color: #CDF0EA;
  position: relative;
  padding-top: 10%;
  height: 100%;
}

.pro {
  text-decoration: underline;
}

.atom {
  width: 25%;
  padding: 5%;
}

.middle-container {
  padding-top: 5%;
}

.profile-picture {
  width: 12.5%;
}

hr {
  width: 10%;
  height: 0;
  background-color: none;
  color: darkgrey;
  border: 20px;
  border-style: dotted none none none;
  margin: 3% auto;
}

.tools-picture {
  width: 12.5%;
}

.stock-market-picture {
  margin-top: 3%;
  width: 12.5%;
}
