/********************************TAG SELECTOR********************************/
html {}

body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 1rem;
}

h1 {
  font-size: 5.265rem;
  /*1em = 100% = 16px*/
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: bold;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p {
  line-height: 2;
}

hr {
  border: dotted 20px lightgrey;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

/********************************CLASS SELECTOR********************************/
.top-container {
  background-color: #CDF0EA;
  position: relative;
  padding-top: 75px;
}

.pro {
  text-decoration: underline;
  text-decoration-thickness: 0.1px;
}

.intro {
  width: 30%;
  margin: auto;
}

.atom {
  width: 25%;
  padding: 20px;
}

.middle-container {
  margin: 100px 0;
}

.profile-picture {
  width: 12.5%;
}

.skill-row {
  width: 50%;
  height: 125%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.tools-img {
  width: 12.5%;
  float: left;
  margin-right: 30px;
}

.stock-market-img {
  width: 12.5%;
  float: right;
  margin-left: 30px;
}

.contact_button {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 10px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  border-color-hover: ;
  border-style-hover: solid;
  border-width-hover: 1;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.contact_button:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 10px;
  text-decoration: none;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
  color: white;
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
